---
---

<header class="bg-[#861388] flex flex-row justify-evenly align-bottom py-8 px-4 lg:py-16 lg:px-6 ">
      <div class=" text-white flex gap-9 flex-col text-xl w-4/12">
          <h1 class="font-bold text-3xl"> Ayudamos a que tu empresa tenga un público mejor seleccionado y llegue a más personas</h1>
          <p class="">Con nosotros usarás tu dinero de manera efectiva mediante ads que te ayudarán al crecimiento de tu empresa a corto-largo plazo dentro de esta industria</p>
          <a class="flex flex-row justify-center gap-3 bg-white rounded-3xl text-[#861388] py-4 w-48 font-bold text-base"> 
            <img src="/icons/icon-start.svg" alt="">
            <span>Empezar</span>
          </a>

      </div>
      <div class="flex flex-col justify-end">
        <img  src="/image/work_person.png" alt="Ilustración de una persona con un portátil">
      </div>
</header>